:root {
  --font-family: 'Ubuntu', sans-serif;
  --charcoal: #101519;
  --white:  #fff;
  --oldBurgandy: #42252F;
  --cadetGrey: #95A8BC;
  --pacificBlue: #1ABDD5;
}

body {
  background-color: var(--charcoal);
  color: var(--white);
  font-family: var(--font-family);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
